<div class="center">

  <h1 class="space-above main-heading">Please enter the following details to upload the Video</h1>
  <h3 class="sub-heading">You can upload the video from your device or from a remote link</h3>

  <form [formGroup]="newVideoForm" (ngSubmit)="uploadVideoFile()">

    <mat-form-field>
      <mat-label>Name of the Video</mat-label>
      <input formControlName="name" matInput required>
      <mat-error *ngIf="name.invalid && name.touched">Please Enter a valid Name that has minimum 5 Characters
      </mat-error>
      <mat-hint>Minimum 5 Characters</mat-hint>
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Video Description</mat-label>
      <input formControlName="subTitle" matInput required>
      <mat-error *ngIf="subTitle.invalid && subTitle.touched">Please Enter a Description that has minimum 10 Characters
      </mat-error>
      <mat-hint>Minimum 10 Characters</mat-hint>
    </mat-form-field>

    <br />

    <div class="space-above">
      <label for="input-file-id" class="space-above">Choose File</label>
      <input hidden="true" (change)="checkFile($event)" type="file" class="ng-hide" id="input-file-id" />

      <span class="space" *ngIf="!theFileName" id="file-chosen">No file chosen</span>
      <span class="space" *ngIf="theFileName" id="file-chosen">{{ theFileName }}</span>

      <span class="space" *ngIf="loading" id="file-chosen">Video uplaoding...</span>
      <span class="space" *ngIf="theFileName && !loading" id="file-chosen">Done ✔</span>

    </div>

    <br />
    <strong>OR</strong>
    <br />
    <mat-form-field>
      <mat-label>Video URL</mat-label>
      <input required formControlName="uri" matInput type="text">
      <mat-hint>This field will be automatically filled if you choose to upload the file from your device</mat-hint>
    </mat-form-field>


    <br />
    <button [disabled]="newVideoForm.invalid" type="submit" color="primary" mat-raised-button> Upload
      the Video </button>
    <button (click)="cancel()" class="space" color="warn" mat-raised-button> Cancel </button>

  </form>
</div>
