@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");

.navbar {
  justify-content: space-between;

  .logo {
    font-family: Frijole;
  }
}

span {
  padding-right: 1rem;
}
