/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Frijole&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat, "Roborto", "Helvetica Neue", sans-serif;
}

.center {
  text-align: center;
}

.space-top {
  margin-top: 5rem;
}

.custom-btn {
  width: 200px;
  height: 40px;
  font-size: 1.2rem;
}
