.center {
  text-align: center;
}

.content {
  padding: 16px;
}

mat-card {
  min-height: 175px;
}

.main {
  color: #3f51b5;
  font-weight: 700;
}

.margin {
  margin-left: -15px;
}

.space-around {
  margin: 35px 0px 30px 0px;
}

.background {
  background-color: #f5f5f5;
  padding: 35px 0px 35px 0px;
}

.now-playing {
  font-weight: 700;
}

.now-playing-text {
  margin: 10px 0px 10px 0px;
}

.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw 0 10vw;
  height: 60vh;
  overflow: hidden;
  background-color: #f5f5f5;

  .landingImg img {
    width: 28vw;
  }
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}
