<div class="center">
  <br />
  <h1>Welcome Home</h1>
  <br />
  <app-video-player></app-video-player>

  <br />

</div>



<div class="center-card" *ngFor="let vid of allVideos">

  <mat-card>
    <mat-card-title align="start">{{ vid?.name }}</mat-card-title>
    <mat-card-subtitle align="start">{{ vid?.subTitle }}</mat-card-subtitle>
    <mat-card-actions align="start">

      <button color="primary" (click)="playMe(vid.uri)" mat-raised-button>
        <mat-icon>play_arrow</mat-icon>
        Play this
      </button>
    </mat-card-actions>
  </mat-card>

</div>
