.center {
  text-align: center;
}

.center-card {
  width: 40%;
  margin: 40px auto;
}

mat-grid-tile {
  background-color: rgb(121, 121, 189);
}

.content {
  padding: 16px;
}

.margin-top {
  margin-top: 25px;
}

// .content > mat-card {
//   width: 200px;
// }

.margin {
  margin-left: -15px;
}
