<div class="center">

  <h2> Hello, {{ user?.displayName }}</h2>
  <p> Your registered with the E-mail address <span class="email-highlight"> {{ user?.email }}</span> </p>

  <br />

  <h3>Here are the list of your Videos</h3>
  <h4 *ngIf="!videoData || videoData?.length <= 0">You do not have any videos yet. Upload new ones</h4>
</div>

<br />
<table *ngIf="videoData?.length > 0" mat-table [dataSource]="videoData" class="mat-elevation-z8">




  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> No.</th>
    <td mat-cell *matCellDef="let element; let i=index"> {{ i+1 }} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Video ID </th>
    <td mat-cell *matCellDef="let element;"> {{ element.id }} </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.data.name}} </td>
  </ng-container>


  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete? </th>
    <td mat-cell *matCellDef="let element"> <button (click)="delete(element.id)" mat-button color="warn">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
